{% extends "form.html" %}

{% block alert %}
  {% with success = get_flashed_messages(category_filter=["success"]) %}
  {% if success %}
  <div class="alert alert-success" role="alert">{{ success[0] }}</div>
  {% endif %}
  {% endwith %}

  {% with error = get_flashed_messages(category_filter=["error"]) %}
  {% if error %}
  <div class="alert alert-danger" role="alert">{{ error[0] }}</div>
  {% endif %}
  {% endwith %}

{% endblock %}

    {% block content %}
      <h1></h1>
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
          <h1 class="display-3">Анализатор страниц</h1>
          <p class="lead">Бесплатно проверяйте сайты на SEO-пригодность</p>
          <form action="{{ url_for('save_urls') }}" method="post" class="d-flex justify-content-center">
            <label for="text" class="visually-hidden">Url для проверки</label>
            <input type="text" name="url" placeholder="https://www.example.com" value=""
              class="form-control form-control-lg" required="">
            <input type="submit" class="btn btn-primary  btn-lg ms-3 px-5 text-uppercase mx-3" value="Проверить">
          </form>
        </div>
      </div>
    {% endblock %}