{% extends "form.html" %}

{% block alert %}
  {% with success = get_flashed_messages(category_filter=["success"]) %}
  {% if success %}
  <div class="alert alert-success" role="alert">{{ success[0] }}</div>
  {% endif %}
  {% endwith %}

  {% with error = get_flashed_messages(category_filter=["error"]) %}
  {% if error %}
  <div class="alert alert-danger" role="alert">{{ error[0] }}</div>
  {% endif %}
  {% endwith %}

  {% with info = get_flashed_messages(category_filter=["info"]) %}
  {% if info %}
  <div class="alert alert-info" role="alert">{{ info[0] }}</div>
  {% endif %}
  {% endwith %}
{% endblock %}

    {% block content %}
      <h1>Сайт: {{ url.name }}</h1>

      <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="url">
          <tbody>
            <tr>
              <td>ID</td>
              <td>{{ id }}</td>
            </tr>
            <tr>
              <td>Имя</td>
              <td>{{ url.name }}</td>
            </tr>
            <tr>
              <td>Дата создания</td>
              <td>{{ url.created_at}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2 class="mt-5 mb-3">Проверки</h2>
      <form method="post" action="{{ url_for('check_urls', id=id) }}">
        <input type="submit" class="btn btn-primary" value="Запустить проверку">
      </form>

      <div>
        <table class="table table-bordered table-hover mt-2" data-test="checks">
          <thead>
            <tr>
              <th>ID</th>
              <th>Код ответа</th>
              <th>h1</th>
              <th>title</th>
              <th>description</th>
              <th>Дата создания</th>
            </tr>
          </thead>
          <tbody>
            {% for url_check in url_checks%}
            <tr>
              <td>{{ url_check.id }}</td>
              <td>{{ url_check.status_code }}</td>
              <td>{{ url_check.h1 }}</td>
              <td>{{ url_check.title }}</td>
              <td>{{ url_check.description }}</td>
              <td>{{ url_check.created_at }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endblock %}