{% extends "form.html" %}

    {% block content %}
      <h1>Сайты</h1>


      <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
          <thead>
            <tr>
              <th>ID</th>
              <th>Имя</th>
              <th>Последняя проверка</th>
              <th>Код ответа</th>
            </tr>
          </thead>
          <tbody>
            {% for url in urls %}
            <tr>
              <td>{{ url.id }}</td>
              <td><a href="{{ url_for('urls_id', id=url.id) }}">{{url.name}}</a></td>
              <td>{{ url.created_at | default('') }}</td>
              <td>{{ url.status_code | default('') }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endblock %}