{% extends "form.html" %}

    {% block content %}
      <h1>Сайты</h1>


      <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
          <thead>
            <tr>
              <th>ID</th>
              <th>Имя</th>
              <th>Последняя проверка</th>
              <th>Код ответа</th>
            </tr>
          </thead>
          <tbody>
            {% for url in urls %}
            <tr>
              <td>{{ url.id }}</td>
              <td><a href="{{ url_for('url_details', id=url.id) }}">{{url.name}}</a></td>
              {% if url.created_at != None %}
                <td>{{ url.created_at}}</td>
              {% else %}
                <td></td>
              {% endif %}
              {% if url.status_code != None %}
                <td>{{ url.status_code}}</td>
              {% else %}
                <td></td>
            {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endblock %}